*,
*::before,
*::after,
ul,
h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}
.grid__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style: none;
    column-gap: 10px;
    row-gap: 20px;
    padding: 20px;
}
.grid__item {
    border: 1px solid #000;
    min-height: 60px;
    align-content: center;
    border-radius: 10px;
}
.item-1 {
    grid-column-start: span 12;
}
.item-2 {
    background-color: rgb(228, 170, 196);
}
.item-3 {
    border: 1px dashed #000;
    background-color: rgb(182, 99, 136);
}
.item-4 {
    background-color: rgb(107, 33, 66);
}
.item-6 {
    grid-column-start: span 8;
}
.grid__item:nth-of-type(2),
.grid__item:nth-of-type(3),
.grid__item:nth-of-type(4),
.grid__item:nth-of-type(5) {
    grid-column-start: span 4;
}
.hide {
    display: none;
}
.modal__container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
.modal__content {
    background-color: #fefefe;
    margin: 100px auto; 
    padding: 20px;
    width: 30vw; 
    height: 30vh;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    animation-name: showModal;
    animation-duration: 0.5s;
}
.btn_close {
    color: #aaa;
    margin: -10px -10px 10px 20px;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
}
.btn_close:hover,
.btn_close:focus {
    color: rgb(232, 26, 26);
    text-decoration: none;
    cursor: pointer;
}

@keyframes showModal {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media (max-width: 400px) {
    .grid__item:nth-of-type(2),
    .grid__item:nth-of-type(3),
    .grid__item:nth-of-type(4),
    .grid__item:nth-of-type(5),
    .grid__item:nth-of-type(6) {
        grid-column-start: span 12;
    }
}