.row>div {
    min-height: 20px;
    border: 1px solid #000000;
}
div.b-dashed {
    border: 1px dashed #000000;
}
.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.661);
    z-index: 25;
    visibility: visible;
}
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 #0004;
    position: relative;
    z-index: 25;
    transition: all .8s ease 0s;
}
.btn_close {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: color .5s ease-in-out;
}
.btn_close:hover,
.btn_close:focus {
    color: rgb(232, 26, 26);
    text-decoration: none;
    cursor: pointer;
}